include ../_layout/breadcrumb

.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Báo cáo
				ul.sidebar-link
					li.has-sub
						a(href="#!") Báo cáo thường niên
						.sub
							ul
								li
									a(href="#!") 2020
								li.active
									a(href="#!") 2019
								li
									a(href="#!") 2018
								li
									a(href="#!") 2017
								li
									a(href="#!") 2016
								li
									a(href="#!") 2015
					li
						a(href="#!") Báo cáo tài chính
					li
						a(href="#!") Báo cáo quản trị
					li.active
						a(href="#!") Báo cáo phân tích các CTCK
		.col-12.col-lg-9
			section.baocao-page
				.baocao-list
					.table-responsive
						table.table.table2
							thead
								tr
									th Ngày
									th Tiêu đề
									th Tác giả
									th Tải về
							tbody
								tr
									td 20/03/2020
									td 
										.name HOSE-Thông báo về ngày đăng ký cuối cùng thanh toán lãi và toàn bộ gốc trái phiếu NVL11715 vào ngày đáo hạn
									td KAF
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name HOSE - Thông báo về việc hủy niêm yết đối với trái phiếu NVLG082019
									td RHB
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name VSD - Thông báo về ngày đăng ký cuối cùng thanh toán lãi trái phiếu kỳ 4 và toàn bộ gốc trái phiếu NVL11715
									td MSB
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name Thông báo về ngày đăng ký cuối cùng để thực hiện thanh toán lãi kỳ 4 và toàn bộ gốc trái phiếu vào ngày đáo hạn của Trái phiếu NVL11715
									td TVB
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name HOSE - Thông báo về việc hủy niêm yết đối với trái phiếu NVLG032019
									td MAS
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name HOSE-Thông báo về ngày đăng ký cuối cùng thanh toán lãi và toàn bộ gốc trái phiếu NVL11714 vào ngày đáo hạn
									td KAF
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name VSD - Thông báo về ngày đăng ký cuối cùng thanh toán lãi trái phiếu kỳ 4 - mã trái phiếu NVL11714
									td KAF
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name Thông báo về ngày đăng ký cuối cùng thực hiện thanh toán lãi kỳ 4 và toàn bộ gốc trái phiếu NVL11714
									td RHB
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name Thông báo về ngày đăng ký cuối cùng thực hiện thanh toán lãi kỳ 4 và toàn bộ gốc trái phiếu NVL11708
									td MSB
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 20/03/2020
									td 
										.name VSD - Thông báo về ngày đăng ký cuối cùng thanh toán lãi trái phiếu kỳ 3 - mã trái phiếu NVL11715
									td TVB
									td
										.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
