include ../_layout/breadcrumb

.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Thông tin cổ đông
				ul.sidebar-link
					li
						a(href="#!") Thông tin cổ phiếu
					li
						a(href="#!") Lịch sử cổ tức
					li.active
						a(href="#!") Cơ cấu sỡ hữu
		.col-12.col-lg-9
			section.ccsh-page
				h1.page-title Cơ cấu sỡ hữu
				.row.align-items-center.mb-3
					.col-12.col-md-6
						table.table.table4
							tbody
								tr
									td 
										span.color(style="background: #3a59b3") 
										| Sở hữu nhà nước
									td 80,99 %
								tr
									td 
										span.color(style="background: #f5a623") 
										| Sở hữu nước ngoài
									td 17,76 %
								tr
									td 
										span.color(style="background: #4a90e2") 
										| Sở hữu khác
									td 1,25 %
					.col-12.col-md-6
						.text-center
							img(src="img/chart.png", alt="")
				h2.page-title Danh sách cổ đông lớn
				.table-responsive.mb-3
					table.table.table5
						thead
							tr
								th Tên cổ đông
								th Số cổ phiếu
								th Tỷ lệ %	
								th Ngày cập nhật
						tbody
							tr
								td Ngân hàng Nhà nước Việt Nam
								td 3.257.324.161
								td 80,99%
								td 31/12/2017
							tr
								td KEB Hana Bank, Co., Ltd.
								td 603.302.706
								td 15,00%
								td 11/11/2019
							tr
								td Công đoàn Ngân hàng TMCP Đầu tư và Phát triển Việt Nam
								td 9.397.614
								td 0,23%
								td 12/03/2018
							tr
								td Quỹ ETF VFMVN30
								td 1.673.200
								td 0,04%
								td 31/10/2019
							tr
								td Quỹ Đầu tư Chứng khoán Việt Nam
								td 985.890
								td 0,02%
								td 31/10/2019
				h2.page-title Ban lãnh đạo đương nhiệm
				.table-responsive
					table.table.table6
						thead
							tr
								th Họ tên
								th Chức vụ
								th Số cổ phiếu
								th Tỷ lệ %
								th Ngày cập nhật
						tbody
							tr
								td Phan Đức Tú
								td Chủ tịch HĐQT
								td 43.513
								td 0,0011%
								td 31/12/2019
							tr
								td Trần Thanh Vân
								td TV HĐQT
								td 43.645
								td 0,0011%
								td 31/12/2019
							tr
								td Lê Kim Hòa
								td TV HĐQT/Phó TGĐ
								td 42.983
								td 0,0011%
								td 31/12/2019
							tr
								td Phan Thị Chinh
								td TV HĐQT
								td 29.186
								td 0,0007%
								td 31/12/2019
							tr
								td Trần Xuân Hoàng
								td TV HĐQT/Phó TGĐ
								td 23.081
								td 0,0006%
								td 31/12/2019
							tr
								td Ngô Văn Dũng
								td TV HĐQT
								td 780
								td 0,0000%
								td 31/12/2019
							tr
								td Lê Việt Cường
								td TV HĐQT
								td 0
								td 0,0000%
								td 31/12/2019
							tr
								td Nguyễn Thị Thu Hương
								td TV HĐQT
								td 0
								td 0,0000%
								td 31/12/2019
							tr
								td Yoo Je Bong
								td TV HĐQT
								td 0
								td 0,0000%
								td 31/12/2019
							tr
								td Phạm Quang Tùng
								td TV HĐQT
								td 0
								td 0,0000%
								td 31/12/2019