section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br1.jpg) center center no-repeat;background-size:cover")
	.container
		h3.page-name 
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Đại hội cổ đông

.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Đại hội cổ đông
				ul.sidebar-link
					li.active
						a(href="#!") 2020
					li
						a(href="#!") 2019
					li
						a(href="#!") 2018
					li
						a(href="#!") 2017
					li
						a(href="#!") 2016
					li
						a(href="#!") 2015
					li
						a(href="#!") 2014
		.col-12.col-lg-9
			section.baocao-page
				.baocao-list
					.table-responsive
						table.table.table1
							thead
								tr
									th Văn bản
									th Ngày ban hành
									th Xem
									th Tải về
							tbody
								tr
									td 
										.name Công văn giải trình chênh lệch lợi nhuận sau thuế BCTC riêng Quý I năm 2020
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Báo cáo tài chính riêng chưa kiểm toán Quý I năm 2020
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Báo cáo tài chính hợp nhất chưa kiểm toán Quý I năm 2020
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Báo cáo tài chính riêng kiểm toán năm 2019
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Báo cáo Tài chính Hợp nhất Kiểm toán năm 2019
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Báo cáo tài chính hợp nhất Quý IV năm 2019
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Công văn Giải trình Chênh lệch Lợi nhuận Sau thuế Quý IV 2019
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Giải trình Điều chỉnh Hồi tố BCTC Hợp nhất năm 2018
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
								tr
									td 
										.name Công văn Giải trình Chênh lệch Lợi nhuận Sau thuế BCTC riêng Quý IV 2019
									td 29/04/2020
									td 
										a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i>
									td
										a.btn-action.red(href="#!") <i class="fa fa-download" aria-hidden="true"></i>
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
				//- .dhcd-list
					.item
						.icon
							img(src="img/logo.png", alt="")
						.caption
							.name Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							.des Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							time 03-12-2019 18:01
						.action
							a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i> 
								span Xem online
							a.btn-action(href="#!") <i class="fa fa-download" aria-hidden="true"></i> 
								span Tải về
					.item
						.icon
							img(src="img/logo.png", alt="")
						.caption
							.name Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							.des Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019. Lorem ipsum dolor sit amet consectetur adipisicing elit.
							time 03-12-2019 18:01
						.action
							a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i> 
								span Xem online
							a.btn-action(href="#!") <i class="fa fa-download" aria-hidden="true"></i> 
								span Tải về
					.item
						.icon
							img(src="img/logo.png", alt="")
						.caption
							.name Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							.des Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							time 03-12-2019 18:01
						.action
							a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i> 
								span Xem online
							a.btn-action(href="#!") <i class="fa fa-download" aria-hidden="true"></i> 
								span Tải về
					.item
						.icon
							img(src="img/logo.png", alt="")
						.caption
							.name Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							.des Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam quae, velit culpa veniam perferendis nihil?
							time 03-12-2019 18:01
						.action
							a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i> 
								span Xem online
							a.btn-action(href="#!") <i class="fa fa-download" aria-hidden="true"></i> 
								span Tải về
					.item
						.icon
							img(src="img/logo.png", alt="")
						.caption
							.name Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							.des Nghị quyết Đại hội đồng cổ đông lấy ý kiến bằng văn bản năm 2019
							time 03-12-2019 18:01
						.action
							a.btn-action(href="#!") <i class="fa fa-file-text-o" aria-hidden="true"></i> 
								span Xem online
							a.btn-action(href="#!") <i class="fa fa-download" aria-hidden="true"></i> 
								span Tải về
				//- .pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
