include ../_layout/breadcrumb

.container
	.row
		.col-12.col-lg-3
			nav.sidebar
				.sidebar-title Thông tin cổ đông
				ul.sidebar-link
					li
						a(href="#!") Thông tin cổ phiếu
					li.active
						a(href="#!") Lịch sử cổ tức
					li
						a(href="#!") Cơ cấu sỡ hữu
		.col-12.col-lg-9
			section.baocao-page
				.baocao-list
					.table-responsive
						table.table.table3
							thead
								tr
									th Năm
									th Khoảng thời gian
									th Tỷ lệ
									th Ngày GD không hưởng quyền
									th Ngày đăng ký cuối cùng
									th Ngày thanh toán
									th Hình thức trả cổ tức
							tbody
								tr
									td 2019
									td Cả năm
									td 16%
									td 09/04/2020
									td 10/04/2020	
									td 10/04/2020
									td Cổ phiếu
								tr
									td 2018
									td Cả năm
									td 10% mệnh giá
									td 04/10/2019
									td 07/10/2019
									td 24/10/2019
									td Tiền mặt
								tr
									td 2017
									td Cả năm
									td 16%
									td 09/04/2020
									td 10/04/2020	
									td 10/04/2020
									td Cổ phiếu
								tr
									td 2016
									td Cả năm
									td 10% mệnh giá
									td 04/10/2019
									td 07/10/2019
									td 24/10/2019
									td Tiền mặt
								tr
									td 2015
									td Cả năm
									td 16%
									td 09/04/2020
									td 10/04/2020	
									td 10/04/2020
									td Cổ phiếu
								tr
									td 2014
									td Cả năm
									td 10% mệnh giá
									td 04/10/2019
									td 07/10/2019
									td 24/10/2019
									td Tiền mặt
								tr
									td 2013
									td Cả năm
									td 16%
									td 09/04/2020
									td 10/04/2020	
									td 10/04/2020
									td Cổ phiếu
								tr
									td 2012
									td Cả năm
									td 10% mệnh giá
									td 04/10/2019
									td 07/10/2019
									td 24/10/2019
									td Tiền mặt
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
