include ../_layout/breadcrumb

.container
	section.contact-page
		.row
			.col-12.col-md-4
				.contact-info
					h1.name CÔNG TY CỔ PHẦN LỌC HÓA DẦU BÌNH SƠN - BSR
					.sub-name Phòng quan hệ nhà đầu tư
					ul
						li 
							i.fa.fa-map-marker
							span Địa chỉ: Số 208 - đại lộ Hùng Vương - thành phố Quảng Ngãi - tỉnh Quảng Ngãi
						li 
							i.fa.fa-phone
							a(href="tel:(84-255)3825825") (84-255)3825825
						li 
							i.fa.fa-globe
							a(href="http://bsr.com.vn") www.bsr.com.vn
						li 
							i.fa.fa-envelope
							a(href="mailto:ir@bsr.com.vn") ir@bsr.com.vn
			.col-12.col-md-8
				.contact-form.form-wrap
					.module-title Đăng ký để được nhận thông tin mới nhất từ IR BSR
					.form-group.form-group-inline
						label Họ và tên *
						input.form-control(type="text")
					.form-group.form-group-inline
						label Số điện thoại
						input.form-control(type="text")
					.form-group.form-group-inline
						label Email *
						input.form-control(type="text")
					.form-group.form-group-inline
						label Đến từ *
						select.form-control
							option CTCK
							option Quỹ đầu tư
							option Báo chí
							option NĐT cá nhân
					.form-group.form-group-inline
						label Đơn vị công tác
						input.form-control(type="text")
					.form-group
						p Thêm captcha vào đây nha anh ơi
					.btn-wrap.text-right
						input(type="submit", value="Gửi")