include ../_layout/breadcrumb

section.filter-block
	.container
		.filter-wrap
			.filter-prop
				select.form-control
					option(value="") Năm 2020
					option(value="") Năm 2019
					option(value="") Năm 2018
			.filter-prop
				select.form-control
					option(value="") Tháng 1
					option(value="") Tháng 2
					option(value="") Tháng 3
					option(value="") Tháng 4
					option(value="") Tháng 5
					option(value="") Tháng 6
					option(value="") Tháng 7
					option(value="") Tháng 8
					option(value="") Tháng 9
					option(value="") Tháng 10
					option(value="") Tháng 11
					option(value="") Tháng 12
.container
	section.event-page
		.table-responsive
			table.table-calendar
				thead
					tr
						th Thứ 2
						th Thứ 3
						th Thứ 4
						th Thứ 5
						th Thứ 6
						th Thứ 7
						th Chủ Nhật
				tbody
					tr
						td
							.event-block
								time 26/04/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 16:30
						td
							.event-block
								time 27/04/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 28/04/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 16:30
						td
							.event-block
								time 29/04/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 30/04/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 01/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 02/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
					tr
						td
							.event-block
								time 03/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 04/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 05/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 06/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 07/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 08/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 09/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
					tr
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
					tr
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
					tr
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30
						td
							.event-block
								time 10/05/2020
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 13:30
								.name Lorem ipsum dolor sitenmiunum amet. - 
									span.time 14:30